name: Flutter Build APK

on:
  push:
    branches: [ "main" ] # أو اسم البرانش بتاعك

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17' # السطر السحري اللي هيحل مشكلة الـ Version 69

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # أو النسخة اللي شغال بيها
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release